<h3>Count</h3>
<ul class="list-group">
  <a href="#" (click)="onClick()">
    <li class="list-group-item">
      Active to Inactive: {{ countActive }}.
    </li>
    <li class="list-group-item">
      Inactive to Active: {{ countInactive }}.
    </li>
  </a>
</ul>